body {
  background-color: rgb(255, 255, 234);
  color: rgb(148, 116, 89);
  text-align: -webkit-center;
}

@media (min-width: 600px) {
  #groupPic {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #groupPic {
    display: none !important;
  }
}

#logInBox {
  background: rgba(110, 179, 236, 0.918);
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  align-items: center;
  justify-content: space-evenly;
  color: darkslategrey;
  width: 30%;
  margin: 20%;
  margin-top: 2%;
  height: 40%;
  border-radius: 10px;
  min-width: fit-content;
  padding: 10px;
}

.emptyButton {
  background-color: rgba(100, 148, 237, 0.068);
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  width: -webkit-fill-available;
}

.emptyButton:hover {
  background-color: rgb(43, 114, 245);
}
