<html>


<head>{{> navTop}}
</head>

<body>
{{> menu}}
<h1>PetMatch</h1>
<h2>{{user}}</h2>

<form action='/log-in'>
<button>Sign in</button>
</form>

<form method='POST' action='/log-in/sign-out'>
<button>Sign Out</button>
</form>

{{> navBottom}}
</body>


</html>