<html>


<head>{{> navTop}}
<link rel='stylesheet' href='/home.css'>
</head>
<body>
{{> menu}}
<h1 style=text-align:center;><strong>♡ADOPT♡</strong></h1>
<img id='banner' src='https://waifanimals.org/wp-content/uploads/2017/03/cat-dog-heart.svg'>
<h2>{{user}}</h2>
{{! <h3 style=text-align:center;>Click here to find your next furever friend!</h3> }}
<div id='findBox'>

    <div id='findCard'>
        <a href='#'><img id='blueCircles' src='dog-box.png'></a>
        <h4>View Dogs</h4>
    </div>

    <div id='findCard'>
        <a href='#'><img id='redCircle' src='both-box.png'></a>
        <h4>Find A Match!</h4>
    </div>

    <div id='findCard'>
        <a href='#'><img id='blueCircles' src='cat-box.png'></a>
        <h4>View Cats</h4>
    </div>
</div>

<form action='/log-in'>
<button>Sign in</button>
</form>

<form method='POST' action='/log-in/sign-out'>
<button>Sign Out</button>
</form>

{{> navBottom}}
</body>


</html>