<html>
<head>
{{> navTop}}
<link rel='stylesheet' href='/home.css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy" content="default-src *;    img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;    style-src  'self' 'unsafe-inline' *">
</head>

<body>
{{> menu}}
    <h1>View Cats and Dogs in Houston area</h1>
    <ul>

    {{#pets}}
    <div>
        <li>
        <form method="POST" action="/houstonPets/houstonPets">
        {{#primary_photo_cropped}}

            <img src={{medium}} />

        {{/primary_photo_cropped}}

        <p>        
        
            <label>Name: {{name}}</label>
            <label>Age: {{age}}</label>
            <input type="hidden" id="type" name="type" value="Type: {{type}}" />
            
            {{#breeds}}
            <label>Breed: {{primary}}, Mixed: {{mixed}}</label>
            {{/breeds}}
        <p>
        </form>
        </li>
       
        
    </div>
    {{/pets}}
    </ul>

{{> navBottom}}
</body>
</html>

{{#photos}}

            <img src={{medium}} />
            
    {{/photos}}