<html>
<head>
{{> navTop}}
<link rel='stylesheet' href='/houstonPets.css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy" content="default-src *;    img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;    style-src  'self' 'unsafe-inline' *">
</head>

<body>
{{> menu}}
    <h1>View Cats and Dogs in Houston area</h1>
    <div id='displayPetCards'>
    {{#pets}}
    <div class='petCard'>
        
        <form method="POST" action="/houstonPets">
        {{#primary_photo_cropped}}
        
            <a href='http://localhost:3000/pet-details/{{id}}'><img class='petPic' src="{{medium}}"/></a>

        {{/primary_photo_cropped}}

        <p>        
        
            <label><strong>Name:</strong> {{name}}</label> <br>
            <label><strong>Age:</strong> {{age}}</label> <br>
            <input type="hidden" id="type" name="type" value="{{type}}"/>
            <input type="hidden" id="petId" name="petId" value="{{id}}"/>

            
            {{#breeds}}
            <label><strong>Breed:</strong> {{primary}}, <strong>Mixed:</strong> {{mixed}}</label><br> 
            {{/breeds}}
        <p>
        </form>
        
       
        
    </div>
    {{/pets}}
    </div>
    

{{> navBottom}}
</body>
</html>

{{#photos}}

            <img src={{medium}} />
            
    {{/photos}}