<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- OUR CSS -->
    <link rel='stylesheet' href='/style.css'>
{{>navTop}}</head>

<body style='background-color: rgb(255, 255, 234)'>
{{> menu}}

<div class="container-fluid"> 
   <h1 class='title'>Pet Details</h1>

      <!-- pet image & description -->
      <div class="row pet-details-container">
        <div class="col-lg-8 pet-image">
          <img src="{{primary_photo_cropped.medium}}" alt="cute dog" />
        </div>
        <div class="col-lg-4 card-description">
          <h2 class="card-title">Meet {{name}}</h2>
          <div class="card-body">
            <p>{{description}}</p>
            <button type="button" class="btn btn-outline-primary">
              Favorite♡
            </button>
            <button type="button" class="btn btn-outline-primary">
              Adopt Me
            </button>
            <button type="button" class="btn btn-outline-primary">
              Donate
            </button>
          </div>
        </div>
      </div>

      <!-- cards -->
      <div class="row justify-content-around">
        <div class="col-lg-5 pet-info-cards">
          <div class="card-body">
            <h2 class="card-title">{{name}}</h2>
            <p class="card-text"><b>Breed:</b> {{breeds.primary}}{{breeds.mixed}}</p>
            <p class="card-text"><b>Age:</b> {{age}}</p>
            <p class="card-text"><b>Gender:</b> {{gender}}</p>
            <p class="card-text"><b>Size:</b> {{size}}</p>
            <p class="card-text"><b>Coat:</b> {{coat}}</p>
            <p class="card-text"><b>Color:</b> {{colors.primary}}</p>
            
          </div>
        </div>
        <div class="col-lg-5 pet-info-cards">
          <div class="card-body">
            <h2 class="card-title">About</h2>
            <p class="card-text"><b>House-Trained:</b>{{attributes.house_trained}}</p>
            <p class="card-text"><b>Health:</b>{{attributes.spayed_neutered}}</p>
            <p class="card-text"><b>Health:</b>{{attributes.secial_needs}}</p>
            <p class="card-text"><b>Status:</b> {{status}}</p>
            <p class="card-text"><b>Contact:</b> {{contact.phone}} - {{contact.email}}</p>
            <p class="card-text"><b>Location:</b>{{contact.address1}} - {{contact.city}} - {{contact.state}}</p>
            <p class="card-text"><b>Pet Id:</b> {{id}}</p>
          </div>
        </div>
      </div>
      
   


</div>



{{> navBottom}}
<script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
</body>


</html>

