<html>

<head>
{{> navTop}}
<link rel='stylesheet' href='/register.css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
{{> menu}}

<img id='groupPic' src='https://waifanimals.org/wp-content/uploads/2017/03/cat-and-dog-hero-2.svg'>
<p>Register as a user to make a favorites list, apply to adopt, or donate to help our cause ♡<p>
<div id='logInBox'>
<h4>Register New User</h4>

<form method='POST' action='/log-in/register'>
<input type='text' placeHolder='Username' name='userName'> <br>
<p>
<input type='password' placeHolder='Password' name='passWord'><br>
<p>
<button class='emptyButton'>Submit</button>
</form>
</div>
{{message}}





{{> navBottom}}
</body>



</html>