<html>

<head>{{> navTop}}</head>

<body>
{{> menu}}


<h1>Register New User</h1>

<form method='POST' action=''>
<input type='text' placeHolder='Username' name='userName'>
<input type='password' placeHolder='Password' name='passWord'>
<button>Submit</button>
</form>







{{> navBottom}}
</body>



</html>